## Problem statement
Use the Titanic passenger data (name, age, price of ticket, etc) to try to predict who will survive and who will die. Our goal is to get a perfect score (a score of 1) in the competition.

## Our solve
Here is our process to reach that goal.
1. Our first objective is to understand the problem and figure out if this is a prediction or classification problem. At first glance of the problem statement it seems that the Titanic problem is a classification problem. 
1. Collect the test and train data
1. Prepare the data
    - Visualize the data, clean the data, do any tansformations and visualize again
    - Find relevant features or create features that can be used for modelling(Feature Engineering)
    - Split the data into training and test to test the accuracy of the model
1. Choosing the model
    - Pick a model that is relevat to the problem we are trying to solve
1.

## Packages
Load the required packages and libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Exploration

Load the test and train data

In [2]:
train_df=pd.read_csv("../input/titanic/train.csv")
test_df=pd.read_csv("../input/titanic/test.csv")

### Join the test and train data for exploratory analysis

In [3]:

full_df=pd.concat([train_df, test_df], axis=0)
full_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C